
header, main, footer {
    display: flex;
    justify-content: center;
    min-height: 100%;
}


header {
    background: orange;
    padding: 20px;
    height: 100px;

}
footer {
    background: orange;
    padding: 20px;
    height: 50px;
}
main {
 display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
}

.text{
  width: 65%;
}

.left, .right {
    background: lightgray;
    width: 15%;
}
